<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Steam Buddy</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/styles.css">

        <h1>Hello, this web app is designed to be an easy way to find out which Steam games you and your friends have in common!</h1>
        <h3>Please enter your Steam ID</h3>
    </head>
    <body>
        <form method ="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.id(size=17) }} <!--Steam Ids should be a string with 17 characters-->
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html> 