<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Games</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <form method = "GET">
        {{ form.hidden_tag() }}
        {% for friend in selected %}
            {{friend.personaname}}
        {% endfor %}

    </form>

    {% for f in form.friends %}
    {%endfor%}
    <h6>Debugging</h6>
    <p>Type: {{ type_of(form.friends.data) }}</p>
    <p>Length: {{form.friends.data|length}}</p>
    
    <ul>
        {% for friend in selected %}
            Name: {{ friend.steamid}}
            Type: {{ type_of(friend) }}
            <br>
            {{friend}}
        {% endfor %}
    </ul>

</body>
</html>